---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider2
    body:
      encoding: UTF-8
      string: '{"to_number":"8005551212","message":"Test message","callback_url":"http://localhost:3000/delivery_status"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 1e1102e9-a4ad-44f1-950b-a4304b20fb97
      x-amz-apigw-id:
      - cilI_Hv-PHcFyxg=
    body:
      encoding: UTF-8
      string: '{"message_id":"63a26065-c91d-45cd-8b61-e1039d878ef0"}'
  recorded_at: Fri, 02 Dec 2022 22:54:50 GMT
recorded_with: VCR 6.1.0
