---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider2
    body:
      encoding: UTF-8
      string: '{"to_number":"8005551212","message":"Test message","callback_url":"http://localhost:3000/delivery_status"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 84aef081-3214-4a79-8853-5a674ec82ef5
      x-amz-apigw-id:
      - cld-vFakvHcFUkQ=
    body:
      encoding: UTF-8
      string: '{"message_id":"e9306646-8b78-4b0d-b952-d44ae2a457e3"}'
  recorded_at: Sat, 03 Dec 2022 19:56:40 GMT
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider1
    body:
      encoding: UTF-8
      string: '{"to_number":"8005551212","message":"Test message","callback_url":"http://localhost:3000/delivery_status"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 0d88bf79-968a-4343-ab7f-216d265d83f3
      x-amz-apigw-id:
      - cl9W9FwxPHcF7ng=
    body:
      encoding: UTF-8
      string: '{"message_id":"82315c98-4772-4898-986a-2954d5defc8d"}'
  recorded_at: Sat, 03 Dec 2022 23:30:53 GMT
recorded_with: VCR 6.1.0
