---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider2
    body:
      encoding: UTF-8
      string: '{"to_number":"","message":"Test message","callback_url":"http://localhost:3000/delivery_status"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - c0a10843-4ab2-48de-9dd7-45be2d833ed9
      x-amz-apigw-id:
      - cld-8FgOvHcFprw=
    body:
      encoding: UTF-8
      string: '{"error":"to_number is required"}'
  recorded_at: Sat, 03 Dec 2022 19:56:40 GMT
recorded_with: VCR 6.1.0
