---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider1
    body:
      encoding: UTF-8
      string: '{"to_number":"6125551212","message":"Testing the endpoint","callback_url":"https://www.example.com/code_test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - ad6df0d0-9d07-45e1-9a41-2cceacc52aff
      x-amz-apigw-id:
      - ch40GE89PHcF-3A=
    body:
      encoding: UTF-8
      string: '{"message_id":"21295355-f3cc-4e06-8f0f-684d5c41e858"}'
  recorded_at: Fri, 02 Dec 2022 17:52:14 GMT
recorded_with: VCR 6.1.0
