---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider1
    body:
      encoding: UTF-8
      string: '{"to_number":"6125551212","message":"Testing the endpoint","callback_url":"https://www.example.com/code_test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 51f66a3c-60b1-4bdf-9aba-bdd61a364b96
      x-amz-apigw-id:
      - cld_BFUGPHcFiyQ=
    body:
      encoding: UTF-8
      string: '{"message_id":"0592a91a-7735-4b92-8d8e-51dbe74f8a16"}'
  recorded_at: Sat, 03 Dec 2022 19:56:42 GMT
recorded_with: VCR 6.1.0
