---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider1
    body:
      encoding: UTF-8
      string: '{"to_number":"6125551212","message":"Testing the endpoint","callback_url":"https://www.example.com/code_test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - dbd3a701-ff0d-4d39-ba94-b2c3050d5baa
      x-amz-apigw-id:
      - cfpFQH1WPHcFzAg=
    body:
      encoding: UTF-8
      string: '{"message_id":"81dd5d06-dd9a-40bf-8800-a030eda02f57"}'
  recorded_at: Fri, 02 Dec 2022 01:31:01 GMT
recorded_with: VCR 6.1.0
