---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider1
    body:
      encoding: UTF-8
      string: '{"to_number":"6125551212","message":"Testing the endpoint","callback_url":"https://www.example.com/code_test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - b8b0b365-25dc-41b9-89b4-078d15b56298
      x-amz-apigw-id:
      - cilIoEc4PHcFpiQ=
    body:
      encoding: UTF-8
      string: '{"message_id":"b71363ea-ef74-4f79-be3f-43095c083997"}'
  recorded_at: Fri, 02 Dec 2022 22:54:47 GMT
recorded_with: VCR 6.1.0
