---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider1
    body:
      encoding: UTF-8
      string: '{"to_number":null,"message":null,"callback_url":"https://www.example.com/code_test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - e65e6cc5-5bb5-4fbd-adee-bbb2125ad9b1
      x-amz-apigw-id:
      - ch40ZF1pPHcFs_g=
    body:
      encoding: UTF-8
      string: '{"error":"to_number is required"}'
  recorded_at: Fri, 02 Dec 2022 17:52:15 GMT
recorded_with: VCR 6.1.0
