---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider1
    body:
      encoding: UTF-8
      string: '{"to_number":null,"message":null,"callback_url":"https://www.example.com/code_test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 8a834737-2106-425e-aef7-019b0a5168a4
      x-amz-apigw-id:
      - cilI3E0KvHcFQPg=
    body:
      encoding: UTF-8
      string: '{"error":"to_number is required"}'
  recorded_at: Fri, 02 Dec 2022 22:54:48 GMT
recorded_with: VCR 6.1.0
