<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Text Service Example</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= phones_path %>">Phones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= messages_path %>">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= providers_path %>">Providers</a>
        </li>
      </ul>
    </div>
    <button id="send_text_message">
      <i class="fa-regular fa-paper-plane"><span class="sr-only">send text message</span></i>
    </button>
  </div>
</nav>
